<section class="advantages">
  <div class="container">
    <h2 class="advantages__heading">
      Our advantages
    </h2>
    <ul class="advantages-list">
      <li class="advantages-list__item advantages-list__item--cow">
        <p class="advantages-list__value">721</p>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item advantages-list__item--weight">
        <p class="advantages-list__value">16kg</p>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item advantages-list__item--ice-cream">
        <p class="advantages-list__value">84</p>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>