<section class="feedback" id="feedback">
  <div class="feedback__container container">
    <div class="feedback__image-block">
      <img class="feedback__img" src="../assets/feedback/img.png" alt="image of ice cream">
    </div>
    <div class="feedback__slider-block">
      <div class="feedback__item">
        <img class="feedback__avatar" src="../assets/feedback/avatar.png" alt="photo of the person from the feedback">
        <div class="feedback-block">
          <p class="feedback-block__text">I love visiting your cafe. You prepare the most delicious ice cream in
            Los&nbspAngeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.
          </p>
        </div>
        <p class="feedback__subtext">Emily, Los Angeles</p>
        <div class="feedback__switch">
          <span class="feedback__button feedback__button--active"></span>
          <span class="feedback__button"></span>
          <span class="feedback__button"></span>
        </div>
      </div>
    </div>
  </div>
</section>