<section class="hero container">
    <div class="hero__wrapper">
        <div class="hero__title-group">
            <h1 class="hero__title">
                ice cream <br>
                made with <br>
                <span class="hero__title--bold">passion</span>
            </h1>
            <div class="hero__link-group">
                <a href="#" class="hero__link-products">Products</a>
                <a href="#" class="hero__link-about">How it’s made?</a>
            </div>
        </div>
        <div class="hero__advantages">
            <p class="hero__advantages-text">16 <span class="hero__advantages-span">cafes</span></p>
            <p class="hero__advantages-text">23 <span class="hero__advantages-span">food trucks</span></p>
        </div>
    </div>

    <div class="hero__image-wrapper">
        <img src="../assets/hero/dots-tablet-left.png" alt="yellow dots" class="hero__dotsTablet-left">
        <img src="../assets/hero/dots-desktop.png" alt="yellow dots" class="hero__dots-desktop">

        <picture>
            <img srcset="
                                                                                                    ../assets/hero/ice-cream-plate-152.png 152w, 
                                                                                                    ../assets/hero/ice-cream-plate-304.png 304w "
                src="../assets/hero/ice-cream-plate-152.png" alt="Plate of ice cream" width="152px"
                class="hero__image-iceCreamPlate" />
        </picture>

        <div class="hero__text-wrapper">
            <p class="hero__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et
            </p>
           <!--  <img src="../assets/hero/arrow.png" alt="arrow" width="40px" height="16px"> -->
             <svg class="hero__arrow" width="40px" height="16px">
                                        <use href="../assets/svg/arrow.svg"></use>
                                    </svg>
        </div>

        <div>
             <picture class="hero__iceCream">
                <img srcset="
                                                                                    ../assets/hero/ice-cream-177.png 177w, 
                                                                                    ../assets/hero/ice-cream-354.png 354w,
                                                                                    ../assets/hero/ice-cream-456.png 456w "
                    src="../assets/hero/ice-cream-177.png" alt="Ice cream cone" width="177px" height="217px"
                    class="hero__image-iceCream" />
            </picture>
            <img src="../assets/hero/dots-mobile.png" alt="yellow dots" class="hero__dots-mobile">
        </div>
           


        <img src="../assets/hero/dots-tablet-right.png" alt="yellow dots" class="hero__dotsTablet-right">
    </div>
</section>