<div class="menu-container js-menu-container" id="mobile-menu">
   <a class="mobile-logo" href="../src/index.html" title="Логотип мобільного меню">
      <svg class="mobile-icon-logo">
         <use href="../assets/sprite.svg#icon-logo"></use>
      </svg>
   </a>
   <button class="menu-toggle menu-toggle--close js-close-menu" type="button" title="Кнопка відкриття">
      <svg class="menu-icon-close" width="32" height="32">
         <use href="../assets/sprite.svg#icon-close"></use>
      </svg>
   </button>
   <nav class="mobile-nav">
      <ul class="mobile-nav__list">
         <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="">Home</a>
         </li>
         <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="">How it’s made?</a>
         </li>
         <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="">Our products</a>
         </li>
         <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="">Contact</a>
         </li>
      </ul>
   </nav>
   <button class="mobile-button__buy button__buy" type="button">Buy now
      <svg class="buy-arrow-in-button" width="12" height="12">
         <use href="../assets/sprite.svg#icon-arrow-in-button"></use>
      </svg>
   </button>
</div>