<div class="modal-buy-now buy-now">
   <button class="buy-now__button-close" type="button" title="Кнопка закриття модального вікна">
      <svg class="buy-now__icon-close">
         <use href="../assets/sprite.svg#icon-close"></use>
      </svg>
   </button>
   <b class="buy-now__title">Buy now</b>
   <ul class="buy-now__list">
      <li class="buy-now__item buy-now__item--ice-cream">
         <h4 class="buy-now__text">ice cream</h4>
      </li>
      <li class="buy-now__item buy-now__item--ice-coffee">
         <h4 class="buy-now__text">ice coffee</h4>
      </li>
      <li class="buy-now__item buy-now__item--milkshake">
         <h4 class="buy-now__text">milkshake</h4>
      </li>
   </ul>
   <form class="buy-now__form" action="">
      <label class="buy-now__form-lable" for="">
         <input class="buy-now__form-input" type="text" title="Імя" placeholder="Name">
      </label>
      <label class="buy-now__form-lable" for="">
         <input class="buy-now__form-input" type="text" title="Телефон" placeholder="Phone">
      </label>
      <label class="buy-now__form-lable" for="">
         <textarea class="buy-now__form-input buy-now__form-textarea" name="" id="" cols="30" rows="10" title="Коментар" placeholder="Comment"></textarea>
      </label>
      <label class="buy-now__form-lable" for="">
         <button class="buy-now__form-submit" type="button" title="Відправити">Submit</button>
      </label>
   </form>
</div>