<div class="backdrop">
  <article class="modal">
    <h2 class="modal__title">Chocolate icecream</h2>
    <button class="button-close-modal"><svg class = close width="32" height="32" fill="none"><path fill="#FCFCFC" d="M23.884 6.706 16 14.59 8.116 6.706a.998.998 0 0 0-1.41 1.41L14.586 16l-7.882 7.882a.997.997 0 1 0 1.41 1.412L16 17.412l7.884 7.884a.998.998 0 0 0 1.41-1.41l-7.884-7.884 7.884-7.886a.997.997 0 1 0-1.41-1.412v.002Z"/></svg></button>
    <ul class="modal__nutrients">
      <li class = "nutrients__item">
        <div class="nutrients__background" ><span class="nutrients__data">320</span></div>
        <span>kcal</span>
      </li>
      <li class="nutrients__item">
        <div class="nutrients__background" ><span class="nutrients__data">4g</span></div>
       <span>Prote...</span>
      </li>
      <li class="nutrients__item">
        <div class="nutrients__background" ><span class="nutrients__data">8,2g</span></div>
        
        <span>Fats</span>
      </li>
      <li class="nutrients__item">
        <div class="nutrients__background"> <span class="nutrients__data">40.4g</span></div>
    <span>Carbs</span>
      </li>
    </ul>
    <h3 class="modal__ingredients">Ingredients</h3>
    <ul class = "ingredients__list">
        <li class = "ingredients__item">
            <p>Milk 100ml</p>
        </li>
        <li class = "ingredients__item">
<p>Belgian chocolate 20g</p>
        </li>
        <li class = "ingredients__item">
            <p>Cream 150ml</p>
        </li>
        <li class = "ingredients__item">
            <p>Cocoa powder 30g</p>
        </li>
        <li class = "ingredients__item">
            <p>Sugar 40g</p>
        </li>
        <li class = "ingredients__item">
            <p>Vanilla sugar 10g</p>
        </li>
    </ul>
    <form class = "modal__submit-form" autocomplete = "on" novalidate>
        <label>
            <input class = "submit-form__input" type = "text" placeholder="Name" autofocus>
        </label>
        <label>
           <input class = "submit-form__input" type = "tel" placeholder = "phone">
        </label>
        <label>
            <textarea class = "submit-form__input" rows="5" placeholder="Comment"></textarea>
        </label>
        <button type = "submit"></button>
    </form>
  </article>
</div>
