<div class="backdrop is-hidden">
  <article class="modal" data-modal>
    <h2 class="modal__title">Chocolate icecream</h2>
    <button class="button__close-modal" data-close-modal><svg width = "13" height="13" class = "close">
    <use  href = "../assets/sprite.svg#icon-close"></use>
    </svg></button>
    <ul class="modal__nutrients">
      <li class = "nutrients__item nutrients__item--first">
        <div class="nutrients__background" ><span class="nutrients__data">320</span></div>
        <span>kcal</span>
      </li>
      <li class="nutrients__item">
        <div class="nutrients__background" ><span class="nutrients__data">4g</span></div>
       <span>Prote...</span>
      </li>
      <li class="nutrients__item">
        <div class="nutrients__background" ><span class="nutrients__data">8,2g</span></div>
        
        <span>Fats</span>
      </li>
      <li class="nutrients__item">
        <div class="nutrients__background"> <span class="nutrients__data">40.4g</span></div>
    <span>Carbs</span>
      </li>
    </ul>
    <h3 class="modal__ingredients">Ingredients</h3>
    <ul class = "ingredients__list">
        <li class = "ingredients__item">
            <span>Milk</span> <span class="ingredients__quantity">100ml</span>
        </li>
        <li class = "ingredients__item">
<span>Belgian chocolate</span> <span class="ingredients__quantity">20g</span>
        </li>
        <li class = "ingredients__item">
            <span>Cream </span><span class="ingredients__quantity">150ml</span>
        </li>
        <li class = "ingredients__item">
            <span>Cocoa powder</span><span class="ingredients__quantity">30g</span>
        </li>
        <li class = "ingredients__item">
            <span>Sugar</span> <span class="ingredients__quantity">40g</span>
        </li>
        <li class = "ingredients__item">
            <p>Vanilla sugar <span class="ingredients__quantity">10g</span></p>
        </li>
    </ul>
    <form class = "modal__submit-form" autocomplete = "on" novalidate>
        <label>
            <input class = "submit-form__input" type = "text" placeholder="Name" autofocus>
        </label>
        <label>
           <input class = "submit-form__input" type = "tel" placeholder = "phone">
        </label>
        <label>
            <textarea class = "submit-form__input" rows="5" placeholder="Comment"></textarea>
        </label>
        <button class = "submit-form__button" type = "submit">Submit</button>
    </form>
  </article>
</div>
