 <div class="modal-contacts">
        <h5 class="modal-contacts__title">Thank you for your interest in owning an Ice Cream shop</h5>
        <p class="modal-contacts__text">Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once the application process resumes, we will contact you for further information. Please fill out the contact information below and we will reach out for additional information. We appreciate your patience.</p>
<div class="modal-contacts__forms">
<input type="text" class="modal-contacts__input" placeholder="Name">
<input type="tel" class="modal-contacts__input" placeholder="Phone">
<input type="email" class="modal-contacts__input" placeholder="Email">
<textarea class="modal-contacts__textarea"  rows="3" placeholder="Comment">
</textarea>
    </div>
    <button class="modal-contacts__button" type="submit">Submit</button>
    <button class="modal-contacts__close ">
      <svg class="modal-contacts__svg btn-close" width="20" height="20">
        <use href="../assets/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>