<section class="products container">
  <p class="products__label">100% natural</p>
  <h2 class="products__title">products</h2>
  <ul class="products__flex">
    <li class="product__card product__card--ice-cream">
      <h3 class="product__title">Ice cream</h3>
      <p class="product__description">
        Soft ice cream with a delicate taste. Made with milk, cream, sugar and
        natural stabilizer
      </p>
      <button type="button" class="product__link" data-open-modal></button>
      <svg class="product__link" width="41" height="16" fill="none">
        <path
          fill="#131313"
          d="M40.707 8.707a1 1 0 0 0 0-1.414L34.343.929a1 1 0 1 0-1.414 1.414L38.586 8l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364ZM0 9h40V7H0v2Z"
        />
      </svg>
    </button>
      </li>
    </li>
    <li class="product__card product__card--ice-coffee">
      <h3 class="product__title">Ice coffee</h3>
      <p class="product__description">
        Fragrant invigorating drink created from 100% natural ingredients
        without the use of preservatives and flavor enhancers
      </p>
      <button type="button" class="product__link" data-open-modal></button>
      <svg class="product__link" width="41" height="16" fill="none">
        <path
          fill="#131313"
          d="M40.707 8.707a1 1 0 0 0 0-1.414L34.343.929a1 1 0 1 0-1.414 1.414L38.586 8l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364ZM0 9h40V7H0v2Z"
        />
      </svg>
    </button>
      </li>
    </li>
    <li class="product__card product__card--milkshake">
      <h3 class="product__title">Milkshakes</h3>
      <p class="product__description">
        Sweet drinks based on milk and ice cream, supplemented with syrups,
        fruits, berries and other sweets of your choice
      </p>
      <button type="button" class="product__link" data-open-modal><svg  width="41" height="16" fill="none">
        <path
          fill="#131313"
          d="M40.707 8.707a1 1 0 0 0 0-1.414L34.343.929a1 1 0 1 0-1.414 1.414L38.586 8l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364ZM0 9h40V7H0v2Z"
        />
      </svg>
    </button>
    </li>
  </ul>
</section>
