/************************************************/
/*==============   HELPERS START  ===============/
/************************************************/
/*background-images*/
@import "~node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@400;500;600;700;800;900&family=Seymour+One&display=swap");
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #131313;
  background-image: url("/assets/background.jpg");
  font-weight: 400;
  line-height: 22px;
}

.container {
  max-width: 1168px;
  margin: 0 auto;
}

/************************************************/
/*==============   HELPERS END  =================/
/************************************************/
/************************************************/
/*============   COMPONENTS START  ==============/
/************************************************/
.products {
  text-align: center;
}

.products__label {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.products__title {
  margin-bottom: 148px;
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.product__title {
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.product__description {
  font-size: 14px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.04em;
  padding-bottom: 109px;
}

.product__card {
  position: relative;
  margin-bottom: 168px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 123px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 24px;
  text-align: center;
}
.product__card--ice-cream {
  background-color: #aec6a5;
}
.product__card--ice-coffee {
  background-color: #f8d24e;
}
.product__card--milkshake {
  background-color: #d6936d;
}

.product__card::before {
  display: block;
  position: absolute;
  top: -25%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

.product__card--milkshake::before {
  background-color: #d6936d;
  background-image: url(../../assets/Products/product-milkshake.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 -12px;
}

.product__card--ice-cream::before {
  background-color: #aec6a5;
  background-image: url(../../assets/Products/product-icecream.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 -12px;
}

.product__card--ice-coffee::before {
  background-color: #f8d24e;
  background-image: url(../../assets/Products/product-coffee.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 -12px;
}

.product__link {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 24px;
  margin-right: auto;
  margin-left: auto;
}

.products__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (min-width: 768px) {
  .products__flex {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 480px) {
  .products {
    background-image: url(../../assets/background-mob.jpg);
    padding-top: 61px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 768px) {
  .products__card {
    max-width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .products {
    background-image: url(../../assets/background-tablet.jpg);
  }
}
@media screen and (min-width: 768px) {
  .product__card {
    margin: 8px;
    flex-basis: calc((100% - 48px) / 3);
  }
}
@media screen and (min-width: 768px) {
  .product__card::before {
    top: -20%;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    background-image: url(../../assets/background.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .product__card::before {
    width: 302px;
    height: 302px;
  }
}
@media screen and (min-width: 1200px) {
  .product__card {
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .product__card::before {
    top: -151px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    margin-bottom: 302px;
  }
}
@media screen and (min-width: 1200px) {
  .product__card--ice-coffee::before,
  .product__card--ice-cream::before,
  .product__card--milkshake::before {
    background-position: 0 -16px;
  }
}
@media screen and (min-width: 768px) {
  .products__title {
    font-size: 34px;
    line-height: 43px;
  }
}
@media screen and (min-width: 768px) {
  .products__label {
    font-size: 22px;
    line-height: 27px;
  }
}
@media screen and (max-width: 767px) {
  .product__description {
    max-width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .product__description {
    min-width: 242px;
    padding-bottom: 126px;
    font-size: 16px;
    line-height: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .products__label,
  .product__title {
    font-size: 30px;
    line-height: 37px;
  }
}
@media screen and (min-width: 1200px) {
  .product__link {
    bottom: 67px;
  }
  .header-flex__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 12px 20px 0 20px;
    background-color: #84a178;
  }

  .site-logo {
    fill: #f8d24e;
  }

  .site-icon-logo {
    width: 40px;
    height: 37px;
  }

  .site-nav {
    width: 444px;
    display: none;
  }

  .site-nav__list {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .site-nav__link {
    display: inline-block;
    padding: 10px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    text-decoration: none;
    color: #fcfcfc;
  }
  .site-nav__link:hover,
  .site-nav__link:focus {
    color: #f8d24e;
  }

  .menu-toggle--open {
    margin-left: auto;
    margin-bottom: 5px;
  }

  .button__buy {
    padding: 0;
    width: 152px;
    height: 42px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    color: #000000;
    background-color: #f8d24e;
  }

  .site-button__buy {
    margin-bottom: 5px;
    display: none;
  }
  .site-button__buy.buy-arrow-in-button {
    margin-left: 4px;
  }

  @media screen and (min-width: 768px) {
    .header-flex__container {
      padding: 20px 32px 0 32px;
    }
    .site-icon-logo {
      width: 48px;
      height: 44px;
    }
    .menu-toggle--open {
      margin-right: 32px;
    }
    .site-button__buy {
      display: block;
    }
  }
  @media screen and (min-width: 800px) {
    .site-nav {
      display: block;
    }
    .menu-toggle--open {
      display: none;
    }
  }
  @media screen and (min-width: 1200px) {
    .header-flex__container {
      padding: 8px 16px 0 16px;
    }
    .site-icon-logo {
      width: 60px;
      height: 65px;
    }
  }
  .about {
    color: #fcfcfc;
    background-color: #84a178;
    text-align: center;
    font-weight: 400;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 99px;
  }
  .about__label {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    padding-top: 60px;
    margin-bottom: 12px;
  }
  .about__heading {
    font-family: "Seymour One", sans-serif;
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 82px;
  }

  .about-card {
    display: flex;
    align-items: center;
    gap: 110px;
  }
  .about-card__img-wrapper {
    position: relative;
    width: 490px;
    height: 490px;
    background-color: #f8d24e;
    border-radius: 50%;
    flex: 1 0 auto;
  }
  .about-card__img {
    position: absolute;
    left: 1px;
    top: 39px;
    width: 100%;
    height: 100%;
  }
  .about-card__info {
    text-align: left;
    padding-right: 111px;
  }
  .about-card__text {
    font-size: 14px;
    line-height: 194%;
    margin-bottom: 8px;
    letter-spacing: 0.04em;
  }
  .about-card__text--first {
    font-size: 16px;
    line-height: 176%;
  }
  .about-card__read-more {
    margin-top: 46px;
  }

  @media screen and (max-width: 1200px) {
    .about {
      padding-bottom: 86px;
      padding-left: 32px;
      padding-right: 32px;
    }
    .about__label {
      font-size: 22px;
    }
    .about__heading {
      font-size: 34px;
      margin-bottom: 72px;
    }
    .about-card {
      gap: 38px;
      align-items: flex-start;
    }
    .about-card__img-wrapper {
      width: 330px;
      height: 330px;
    }
    .about-card__img {
      left: 0;
      top: 26px;
    }
    .about-card__info {
      text-align: left;
      padding-right: 2px;
    }
    .about-card__text {
      font-size: 12px;
    }
    .about-card__text--second {
      line-height: 176%;
    }
    .about-card__read-more {
      margin-top: 24px;
    }
  }
  @media screen and (max-width: 768px) {
    .about {
      padding-bottom: 50px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .about__label {
      font-weight: 700;
      font-size: 18px;
    }
    .about__heading {
      font-size: 30px;
      margin-bottom: 32px;
      letter-spacing: 0.04em;
    }
    .about-card {
      flex-direction: column;
      align-items: center;
      gap: 62px;
    }
    .about-card__img-wrapper {
      width: 279px;
      height: 278px;
    }
    .about-card__img {
      left: 1;
      top: 22px;
    }
    .about-card__info {
      text-align: center;
      padding-right: 30px;
      padding-left: 30px;
    }
    .about-card__text {
      font-size: 12px;
      margin-top: 4px;
    }
    .about-card__text--first {
      margin: 0;
    }
    .about-card__text--second {
      line-height: 162%;
    }
    .about-card__text--third {
      display: none;
    }
    .about-card__read-more {
      margin-top: 2px;
    }
  }
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: #84a178;
    z-index: 999;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateY(-100%);
    transition: transform 250ms ease-in-out;
  }

  .menu-container.is-open {
    transform: translateY(0);
  }

  .mobile-logo {
    position: absolute;
    top: 12px;
    left: 32px;
    fill: #f8d24e;
  }

  .mobile-icon-logo {
    width: 40px;
    height: 37px;
  }

  .menu-toggle {
    padding: 0;
    border: none;
    fill: #ffffff;
    background-color: transparent;
    cursor: pointer;
  }

  .menu-toggle--close {
    position: absolute;
    top: 16px;
    right: 20px;
  }

  .mobile-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .mobile-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-nav__link {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.22;
    text-decoration: none;
    color: #fcfcfc;
  }
  .mobile-nav__link:hover,
  .mobile-nav__link:focus {
    color: #131313;
  }

  .mobile-button__buy {
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    .menu-container {
      padding: 32px;
      background-color: #97af8d;
    }
    .mobile-logo {
      top: 20px;
    }
    .mobile-icon-logo {
      width: 48px;
      height: 44px;
    }
    .menu-toggle--close {
      top: 32px;
      right: 32px;
    }
    .mobile-nav__item:not(:last-child) {
      margin-bottom: 40px;
    }
    .mobile-nav__link {
      font-size: 48px;
      line-height: 1.23;
    }
    .mobile-button__buy {
      display: none;
    }
  }
  @media screen and (min-width: 1200px) {
    .menu-container {
      display: none;
    }
  }
}
