/************************************************/
/*==============   HELPERS START  ===============/
/************************************************/
/*background-images*/
@import "~node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@400;500;600;700;800;900&family=Seymour+One&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #131313;
  background-image: url("/assets/background.jpg");
  font-weight: 400;
  line-height: 22px;
}

.container {
  max-width: 1168px;
  margin: 0 auto;
}

/************************************************/
/*==============   HELPERS END  =================/
/************************************************/
/************************************************/
/*============   COMPONENTS START  ==============/
/************************************************/
.advantages {
  background-color: #84a178;
  color: #fcfcfc;
}
.advantages__heading {
  height: 1px;
}

/************************************************/
/*============   COMPONENTS START   =============/
/************************************************/