.about {
  color: $white;
  background-color: $dark-green;
  text-align: center;
  font-weight: 400;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 99px;

  &__label {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    padding-top: 60px;
    margin-bottom: 12px;
  }

  &__heading {
    font-family: $font-family-sey;
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 82px;
  }
}

.about-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 110px;

  &__img-wrapper {
    position: relative;
    width: 490px;
    height: 490px;
    background-color: $yellow;
    border-radius: 50%;
    flex: 0 0 auto;
  }
  &__img {
    position: absolute;
    left: 1px;
    top: 39px;
    width: 100%;
    height: 100%;
  }
  &__info {
    text-align: left;
    padding-right: calc(127px - 16px);
  }
  &__text {
    font-size: 14px;
    line-height: 194%;
    margin-bottom: 8px;
    letter-spacing: 0.04em;
  }

  &__text--first {
    font-size: 16px;
    line-height: 176%;
  }

  &__read-more {
    margin-top: calc(54px - 8px);
    @include btn-desktop($yellow);
  }
}

@media screen and (max-width: 1199px) {
  .about {
    padding-bottom: 86px;
    padding-left: 32px;
    padding-right: 32px;

    &__label {
      font-size: 22px;
    }

    &__heading {
      font-size: 34px;
      margin-bottom: 72px;
    }
  }

  .about-card {
    gap: 38px;
    align-items: flex-start;

    &__img-wrapper {
      width: 330px;
      height: 330px;
    }
    &__img {
      left: 0;
      top: 26px;
    }
    &__info {
      max-width: 500px;
      text-align: left;
      padding-right: calc(34px - 32px);
    }
    &__text {
      font-size: 12px;
    }

    &__text--second {
      line-height: 176%;
    }

    &__read-more {
      margin-top: calc(32px - 8px);
    }
  }
}

@media screen and (max-width: 767px) {
  .about {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;

    &__label {
      font-weight: 700;
      font-size: 18px;
    }

    &__heading {
      font-size: 30px;
      margin-bottom: 32px;
      letter-spacing: 0.04em;
      max-width: 320px;
      margin: 12px auto 32px;
    }
  }

  .about-card {
    flex-direction: column;
    align-items: center;
    gap: 62px;

    &__img-wrapper {
      width: 279px;
      height: 278px;
    }
    &__img {
      left: 1;
      top: 22px;
    }
    &__info {
      max-width: 320px;
      text-align: center;
      padding-right: calc(50px - 20px);
      padding-left: calc(50px - 20px);
    }
    &__text {
      font-size: 12px;
      margin-top: 4px;
    }
    &__text--first {
      margin: 0;
    }
    &__text--second {
      line-height: 162%;
    }
    &__text--third {
      display: none;
    }

    &__read-more {
      margin-top: calc(10px - 8px);
    }
  }
}
