.footer {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 12px;
  

  background-color: $dark-green;
}

.footercard {
  position: relative;
  transform: translateY(-353px);

  &__item {
    padding: 40px 32px 24px 32px;

    background: $white;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
  }

  &__title {
    display: inline;
    padding: 4px 22px;
    margin-bottom: 20px;

    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    background: $yellow;
    border-radius: 4px;
  }

  &__adress {
    padding-bottom: 24px;

    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
    text-align: left;

    border-bottom: 1px solid $border;
  }

  &__city {
    display: block;
    padding-top: 20px;
    padding-bottom: 8px;
  }

  &__link {
    color: $brown;
  }
}

.schedule {
  padding-top: 24px;
  padding-bottom: 24px;

  border-bottom: 1px solid $border;

  &__days {
    display: flex;
    flex-direction: column;

    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    text-align: left;

    &:nth-last-child(n + 2) {
      padding-bottom: 8px;
    }
  }

  &__hours {
    color: $button-disabled;
  }
}

.footer-contacts {
  padding-top: 24px;

  &__item {
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;

    &:nth-last-child(n + 2) {
      padding-bottom: 6px;
    }
  }
}

.footer-button {
  margin-top: -333px;
  text-align: center;

  &__item {
    &:nth-last-child(n + 2) {
      margin-bottom: 16px;
    }
  }
}

.footer-information {
  padding-top: 60px;
  padding-bottom: 40px;

  &__text {
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;

    &--text1 {
      padding-bottom: 16px;

      font-size: 18px;
      line-height: 1.22;
    }

    &--text2 {
      font-size: 34px;
      line-height: 1.22;
      letter-spacing: 0.04em;
    }
  }
}

.footer-social {
  display: flex;
  justify-content: flex-end;

  &__item {
    &:nth-last-child(n + 2) {
      margin-right: 20px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 34px;
    height: 34px;

    border-radius: 50%;
    background-color: $yellow;
    fill: $dark-green;

    transition: fill 250ms $timing-function;

    &:hover,
    &:focus {
      fill: $white;
    }
  }

  &__contact {
    padding-top: 20px;

    text-align: right;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
  }

  &__tel {
    text-align: right;
  }
  &__tel--link {

    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    color: $white;
  }
}

.footer__end {
  min-width: 320px;

  padding-top: 20px;
  padding-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;

  color: $gray;
  background-color: $dark-green;
  border-top: 1px solid $border;
}

@media screen and (max-width: 767px) {
  .footercard__item {
    &:nth-last-child(n + 2) {
      margin-bottom: 16px;
    }
  }

  .footer-information__text {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 321px) and (max-width: 440px) {
  .footer-information {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

    &__text {
      text-transform: uppercase;
      color: $white;

      &--text1 {
        display: block;
        padding-bottom: 8px;

        font-size: 14px;
        line-height: 1.22;
        letter-spacing: 0.04em;
      }

      &--text2 {
        display: block;
        font-size: 26px;
        letter-spacing: 0.06em;
      }
    }
  }

}

@media screen and (min-width: 440px) and (max-width: 767px) {
  .footercard__container {
    width: 321px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .footer-information {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

    &__text {
      text-transform: uppercase;
      color: $white;

      &--text1 {
        display: block;
        padding-bottom: 8px;

        font-size: 26px;
        line-height: 1.22;
        letter-spacing: 0.04em;
      }

      &--text2 {
        display: block;
        font-size: 48px;
        letter-spacing: 0.06em;
      }
    }
  }

  .footer-social {
    padding-top: calc(101px - 40px);

    &__item {
      &:nth-last-child(n + 2) {
        margin-right: 30px;
      }
    }

    &__contact {
      padding-top: 34px;
      font-size: 14px;
    }
  }

  .footer-social__container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding-right: 32px;
    padding-left: 32px;
  }

  .footercard {
    display: flex;
    justify-content: space-between;
    transform: translateY(-299px);

    &__item {
      padding: 40px 24px 40px 24px;
      flex-basis: calc((100% - 32px) / 3);

      &:nth-last-child(n + 2) {
        margin-right: 16px;
      }
    }

    &__title {
      padding: 4px 13px;
      margin-bottom: 32px;

      font-size: 16px;
      line-height: 140%;
    }

    &__adress {
      padding-bottom: 32px;
      font-size: 14px;
    }

    &__city {
      padding-top: 32px;
      padding-bottom: 12px;
    }
  }

  .schedule {
    padding-top: 32px;
    padding-bottom: 32px;

    &__days {
      font-size: 14px;
    }
  }

  .footer-contacts {
    padding-top: 32px;

    &__item {
      font-size: 14px;

      &:nth-last-child(n + 2) {
        padding-bottom: 4px;
      }
    }
  }

  .footer-button {
    margin-top: -259px;
    display: flex;
    justify-content: center;

    &__item {
      &:nth-last-child(n + 2) {
        margin-right: 16px;
      }
    }
  }

  .footer-information {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

    &__text {
      text-transform: uppercase;
      color: $white;

      &--text1 {
        display: block;
        padding-bottom: 8px;

        font-size: 26px;
        line-height: 1.22;
        letter-spacing: 0.04em;
      }

      &--text2 {
        display: block;
        font-size: 48px;
        letter-spacing: 0.06em;
      }
    }
  }

  .footer-social {
    padding-top: calc(101px - 40px);

    &__item {
      &:nth-last-child(n + 2) {
        margin-right: 30px;
      }
    }

    &__contact {
      padding-top: 34px;
      font-size: 14px;
    }

    &__contact,
    &__tel--link {
      font-size: 14px;
    }
  }

  .footer__end {
    padding-top: 12px;
    padding-bottom: 12px;

    line-height: 186%;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-right: 16px;
    padding-left: 16px;
  }

  .footercard {
    transform: translateY(-128px);

    &__item {
      flex-basis: calc((100% - 64px) / 3);
      padding: 40px;

      &:nth-last-child(n + 2) {
        margin-right: 32px;
      }
    }

    &__title {
      padding: 4px 14px;
    }

    &__adress {
      font-size: 16px;
    }

    &__city {
      padding-bottom: 8px;
    }
  }

  .schedule__days {
    font-size: 16px;

    &:nth-last-child(n + 2) {
      padding-bottom: 12px;
    }
  }

  .footer-contacts__item {
    font-size: 16px;
  }

  .footer-button {
    margin-top: -68px;
  }

  br {
    display: none;
  }

  .footer-information {
    padding-top: 120px;
    padding-bottom: 60px;

    &__text {
      text-align: left;
      text-transform: uppercase;
      color: $white;

      &--text1 {
        padding-bottom: 14px;

        font-size: 30px;
        line-height: 1.23;
        letter-spacing: 0.04em;
      }

      &--text2 {
        font-weight: 700;
        font-size: 58px;
        line-height: 1.22;
        letter-spacing: 0.06em;
      }
    }
  }

  .footer-social {
    padding-top: calc(138px - 120px);


    &__container {
      display: flex;
      flex-direction: row;
      padding-top: 40px;
    }

    &__contact {
      padding-right: 4px;
    }

    &__contact,
    &__tel--link {
      padding-top: 0;
      font-size: 16px;
      letter-spacing: 0.02em;
    }
  }

  .footer__end {
    padding-top: 12px;
    font-size: 12px;
  }
}
