.footer {
    width: 320px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: $dark-green;

    @media screen and (min-width: $tablet-fixed) {
        max-width: 768px;
      }
      @media screen and (min-width: $desktop-fixed) {
        max-width: 1200px;
      }  
    }

// .footercard {
    
// }

.footercard__item {


background: $white;
box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
border-radius: 24px;


&:nth-last-child(n+2) {
    padding-bottom: 16px;
}
&:last-child {
    padding-bottom: 20px;
}
}
