.hero {
    background-color: $dark-green ;

    &__wrapper {
        display: flex;
        justify-content: center;
    }

    &__title {
    margin: 0;
    margin-bottom: 32px;

    color: $white;
    font-family: $font-family-sey;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;

        &--bold {
            font-size: 34px;
            line-height: 0;
        }
    }

    &__link-group {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
    }

    &__link-products {
    display: inline-block;
    margin-right: 14px;
    padding: 11px 26px;

    color: $black;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.2;
    text-decoration: none;

    border: 1px solid;
    border: 2px solid $yellow;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    cursor: pointer;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            border: 2px solid $button-hover;
        }
    }

    &__link-about {
    color: $yellow;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.2;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: $button-hover;
            }
        &:focus {
            color: $white;
        }

        &:disabled {
            color: $button-disabled;
        }
    }

    &__advantages {
    display: none;
    }

    &__advantages-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    margin-top: 14px;
    margin-bottom: 20px;
    width: 46px;

    color: $black;
    font-weight: 900;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    }

    &__advantages-text:last-child {
    margin: 0;
    }

    &__advantages-span {
    display: inline-block;
    font-weight: 400;
    margin-top: 4px;

    color: $white;
    font-size: 8px;
    line-height: 1.2;
    letter-spacing: 0;
    }

    &__image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    }

     &__iceCreamPlate-wrapper {
        position: relative;
        }

    &__image-iceCreamPlate {
    display: none;
    }

    &__text-wrapper {
    display: none;
    }

    &__arrow-link {
        width: 40px;
        cursor: pointer;
    }

    &__arrow {
    display: none;
    fill: $white;
    }

    &__iceCream-wrapper {
    position: relative;
    width: 177px;
    height: 217px;
    }

    &__image-iceCream {
    position: absolute;
    bottom: 0;
    right: -15px;

    z-index: 2;
    }

    &__dots-wrapper {
    width: 320px;
    position: absolute;
    pointer-events: none;
    }

    &__dots-mobile {
    position: absolute;
    bottom: -217px;
    left: -65px;
    }

    &__dots-tablet {
    display: none;
    }

    &__dots-desktop {
    display: none;
    }
}


@media screen and (min-width: 768px) {
    .hero {
        &__title {
            margin-bottom: 24px;
            margin-right: 411px;
        }

        &__link-group {
            margin-bottom: 39px;
        }

        &__advantages {
            display: block;
        }

        &__image-wrapper {
            align-items: flex-end;
        }

        &__iceCreamPlate-wrapper {
            position: relative;
            width: 152px;
            height: 100px;

            margin-right: 32px;
        }

        &__image-iceCreamPlate {
            display: inline-block;
            position: absolute;
            bottom: 10px;
            left: 0px;
            width: 100%;
        }

        &__text-wrapper {
            display: inline-block;
            margin-right: 53px;
            margin-bottom: 24px;
        }

        &__text {
            margin: 0;
            margin-bottom: 12px;
            width: 139px;
            height: 85px;

            color: $white;
            font-size: 12px;
            line-height: 1.4;
        }

        &__arrow {
            display: block;
        }

        &__iceCream-wrapper {
            width: 268px;
            height: 100px;
        }

        &__image-iceCream {
            right: 30px;

            width: 268px;
            height: 329px;
        }

        &__dots-wrapper {
        width: 768px;
        position: absolute;
        }

        &__dots-mobile {
            display: none;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .hero__dots-tablet {
        position: absolute;
        bottom: -100px;
        left: -64px;
        
        display: flex;
        justify-content: center;
    }
}


@media screen and (min-width: 1200px) {

    .hero {

        &__title {
            margin-bottom: 28px;
            margin-right: 722px;

            font-size: 38px;
            line-height: 1.2;
        }

        &__link-group {
            margin-bottom: 109px;
        }

        &__link-products {
            padding: 12px 34px;
            font-size: 14px;

            &:focus {
                    border: 2px solid $button-hover;
                    color: $white;
                }

            &:disabled {
            border: 2px solid $button-disabled;
                }
        }

        &__link-about {
            font-size: 14px;
        }

        &__advantages-text {
            margin-top: 8px;
            margin-bottom: 16px;
            width: 79px;
            font-size: 46px;
            line-height: 1.2;
        }

        &__advantages-span {
            font-size: 14px;
        }

        &__image-wrapper {
            justify-content: left;
        }

        &__iceCreamPlate-wrapper {
            width: 225px;
            height: 100px;

            margin-right: 16px;
        }

        &__image-iceCreamPlate {
            bottom: 50px;
            left: 0px;
            width: 100%;
        }
        
        &__text-wrapper {
            margin-right: 195px;
            margin-bottom: 103px;
        }

        &__text {
            margin-bottom: 24px;
            font-size: 14px;
            width: 200px;
            height: 80px;
        }

        &__iceCream-wrapper {
            width: 456px;
            height: 100px;
        }

        &__image-iceCream {
            right: 10px;

            width: 456px;
            height: 560px;
        }

        &__dots-desktop {
            display: block;
            width: 1200px;
            position: absolute;
            bottom: -100px;
            left: -16px;
        }
    }
}








