.products {
  text-align: center;
}
.products__label {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}
.products__title {
  margin-bottom: 148px;
  font-family: $font-family-sey;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.product__title {
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.product__description {
  font-size: 14px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.04em;
  padding-bottom: 109px;
}
.product__card {
  position: relative;
  margin-bottom: 168px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 24px;
  padding-top: 123px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 24px;
  text-align: center;

&--ice-cream {
  background-color: $light-green;
}
&--ice-coffee {
  background-color: $yellow;
}
&--milkshake {
  background-color: $brown;
}}
.product__card::before{
  display: block;
  position: absolute;
  top: -25%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}
.product__card--milkshake::before{
background-color: $brown;
background-image: url(../../assets/Products/product-milkshake.png);
background-repeat:no-repeat;
background-size: contain;
background-position: 0 -12px;
}
.product__card--ice-cream::before{
  background-color: $light-green ;
  background-image: url(../../assets/Products/product-icecream.png);
background-repeat:no-repeat;
background-size: contain;
background-position: 0 -12px;
}
.product__card--ice-coffee::before{
  background-color: $yellow ;
  background-image: url(../../assets/Products/product-coffee.png);
background-repeat:no-repeat;
background-size: contain;
background-position: 0 -12px;
}

@media screen and (min-width: 480px) {
  .products {
    background-image: url(../../assets/background-mob.jpg);
    padding-top: 61px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px){
  .products{
    background-image: url(../../assets/background-tablet.jpg);
      }
}
@media screen and (min-width: 768px){
  .products__flex{
    display: flex;
    flex-wrap: nowrap;
    padding-left: 24px;
    padding-right: 24px;
      }
  }
  @media screen and (min-width: 768px){
    .product__card{
       margin: 8px;
      flex-basis: calc((100% - 3*16px)/3);
    }}
    @media screen and (min-width: 768px){
      .product__card::before{
        top: -20%;
      }}
  @media screen and (min-width: 1200px){
    .products{
      background-image: url(../../assets/background.jpg);
              }
  } 
    @media screen and (min-width: 1200px){
      .product__card::before{
        width: 302px;
        height: 302px;
      } }
      @media screen and (min-width: 1200px){
        .product__card{
          padding-left: 64px;
          padding-right: 64px;
        padding-top: 165px;
      padding-bottom: 67px;
    }}
    @media screen and (min-width: 1200px){
      .product__card::before{
        top: -151px;
      }}
    
    @media screen and (min-width: 1200px){
      .products__title{
        margin-bottom: 302px;
      }}

     @media screen and (min-width: 1200px){
      .product__card--ice-coffee::before,
      .product__card--ice-cream::before,
      .product__card--milkshake::before{
        background-position: 0 -16px;
      }
     }
  