//font family
$font-family-int: "Inter", sans-serif;
$font-family-mont: "Montserrat", sans-serif;
$font-family-sey: "Seymour One", sans-serif;

//colors
$full-black: #000000;
$black: #131313;
$white: #fcfcfc;
$light-green: #aec6a5;
$green: #97af8d;
$dark-green: #84a178;
$yellow: #f8d24e;
$brown: #d6936d;
$gray: #7A7A7A;

$button-hover: #0a8817;
$button-disabled: #ababab;

$input-field: #fcf8eb;

$border: #E1E1E1;

//sizes
$general-font-size: 16px;
$title: 36px;
$sub-title: 30px;

/*background-images*/
$background-images-desk: url("/assets/background.jpg");
$background-images-tablet: url("/assets/background-tablet.jpg");
$background-images-mob: url("/assets/background-mob.jpg");

// Adaptive sizes
$mobile-fixed: 320px;
$mobile-max: 767px;
$tablet-fixed: 768px;
$tablet-max: 1199px;
$desktop-fixed: 1200px;

//transition
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
