@mixin btn-desktop($color) {
display: inline-block;
padding: 12px 36px;
border-radius: 10px;
font-weight: 600;
line-height: 18px;
background-color: $color;
}
@mixin btn-mobile($color) {
display: inline-block;
padding: 11px 26px;
border-radius: 8px;
font-weight: 600;
line-height: 17px;
background-color: $color;
}
@mixin btn-border($px, $color){
    border: $px solid $color
}
