@mixin btn-desktop ($width, $color){
display: inline-block;
width: $width;
height: 42px;
border-radius: 10px;
font-family: $font-family-mont;
font-size: 14px;
font-weight: 600;
line-height: 1.29;

}
@mixin btn-mobile ($color){
    display: inline-block;
    width: 108px;
    height: 38px;
    border-radius: 8px;
 
 font-family: $font-family-mont;
font-size: 12px;
font-weight: 600;
line-height: 1.22
}
@mixin border ($color){
border: 2px solid $color;
}
